@model IEnumerable<Movie>
<div class="container">
    <div class="row">
        <div class="col-12 pt-3">
            <div class="row">
                @foreach (var movie in Model)
                {
                    <div class="col-4 pb-3">
                        <div class="card">
                            @ViewBag.categoryID
                            @*https://m.media-amazon.com/images/M/MV5BM2UwMDVmMDItM2I2Yi00NGZmLTk4ZTUtY2JjNTQ3OGQ5ZjM2XkEyXkFqcGdeQXVyMTA1OTYzOTUx._V1_UY1200_CR90,0,630,1200_AL_.jpg*@
                            <img class="card-img-top" src="~/images/ff.jpg" height="200px" alt="Card image cap">
                            <div class="card-body text-center">
                                <h5 class="card-title">@movie.MovieName</h5>
                                <p class="card-text">@movie.ShortDescription</p>
                                <a asp-action="Details" class="btn btn-primary" asp-route-id="@movie.ID">Detay</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> 